.streams{
    margin: 50px auto 100px auto;
}
.streams-videos{
    padding: 0 80px;
    position: relative;
    margin-bottom: 50px;
}
.streams-more{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.streams-more p{
    max-width: 50%;
    text-align: center;
    margin-bottom: 30px;
}
.next-btn, .back-btn{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    padding: 15px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    background: #181818;
}
.back-btn{
    right: auto;
    left: 20px;
}
.slider{
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between; */

    position: relative;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    list-style-type: none; 

    width: calc(700%/3);
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-28.5714%);
}
.slider ul li{
    padding: 10px;
}
.stream{
    position: relative;
    flex-basis: 30%;
}
.stream-img{
    width: 100%;
} 
.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

/* --------- media query --------- */

@media (max-width: 1400px){
    .streams-more p{
        max-width: 60%;
    }
}
@media (max-width: 1100px){
    .streams-more p{
        max-width: 70%;
    }
}
@media (max-width: 800px){
    
}
