.create{
    margin: auto 50px 100px 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.create-option{
    width: 49%;
}
.create-option p{
    margin: 20px auto 20px auto;
    max-width: 350px;
}