.create{
    margin: auto 50px 100px 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.create-option{
    width: 49%;
}
.create-option p{
    margin: 20px auto 20px auto;
    max-width: 80%;
}

/* --------- media query --------- */

@media (max-width: 700px){
    .create{
        flex-direction: column;
        align-items: center;
    }
    .create-option{
        width: 110%;
    }
    .create-option p{
        display: none;
    }
    .left-option-btn{
        margin: auto 130px 20px auto;
    }
    .right-option-btn{
        margin-left: 130px;
    }
}
@media (max-width: 550px){
    .left-option-btn{
        margin-right: 80px;
    }
    .right-option-btn{
        margin-left: 80px;
    }
}
@media (max-width: 450px){
    .left-option-btn{
        margin: auto 0px 10px auto;
    }
    .right-option-btn{
        margin-left: 0px;
    }
}

