.footer{
    /* margin: 10px 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dedede;
    padding: 25px 20%;
}

/* --------- media query --------- */

@media (max-width: 550px){
    .footer p, a{
        font-size: 14px;
    }
}