@tailwind base;
/* @tailwind components; */
@tailwind utilities;
  
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #f5f5f5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: #fff;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}
.btn.dark-btn{
  background: #212121;
  color: #fff;
}
.btn.big-btn{
  font-size: 25px;
  margin-bottom: 10px;
}
.btn.small-btn{
  font-size: 14px;
  padding: 10px 20px;
}
.description-text{
  font-size: 18px;
}

/* --------- media query --------- */

@media (max-width: 1500px){
  .description-text{
    font-size: 16px;
  }
}
@media (max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media (max-width: 1100px){
  .description-text{
    font-size: 14px;
  }
}
@media (max-width: 900px){
  .btn.big-btn{
    font-size: 20px;
  }
}
@media (max-width: 800px){
  .btn.big-btn{
    font-size: 18px;
  }
}
@media (max-width: 550px){
  .btn.big-btn{
    font-size: 16px;
  }
  .description-text{
    font-size: 14px;
  }
}
